@model AfspraakViewModel
@{
    ViewData["Title"] = "Afspraak";
}

<div class="container">
    <div class="row" style="margin-top: 20px;">
        <img src="https://i.gyazo.com/fcaca9babe2aac42ceb33ce00b9cd11d.png">
    </div>
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="col-md-7" style="height: 510px; background-color:white; box-shadow: 0px 0px 10px #888888; padding-left: 0px;">
                <div class="col-md-3" style="padding-left: 0px;">
                    <img src="https://i.gyazo.com/20b400d77de903b3a15acbec8dd25a2f.png">
                </div>
                <div class="col-md-9" style="height:510px;">
                    <div class="nexa_bold" style="font-size:25px; margin-top: 40px; margin-bottom:15px;">
                        Stap 3, Bevestig je gegevens
                    </div>
                    <div class="sans-serif-thin" style="margin-top: 25px; font-size:25px; width:400px;">
                        Controleer alle gegevens voor je pasafspraak bij Honeymoon shop aan Korte Hoogstraat 4, te Rotterdam.
                    </div>
                    <input type="submit" value="AFPSRAAK BEVESTIGEN" class="btn btn-default specialbutton" style="" />
                </div>
            </div>
            <div class="col-md-5" style="background-color:#f0597c; color: white; height:510px;">
                <div style="margin-left:25px;" class="nexa_bold">
                    <div class="nexa_bold" style="font-size:25px; margin-top: 40px;">
                        Controleer je gegevens:
                    </div>
                    <div style="background-color: #f27390; font-size:20px; margin-top: 30px;">
                        <div style="padding: 8px; padding-left: 15px; padding-right: 15px;">
                            @Model.datum   @Model.tijd
                        </div>
                    </div>
                    <div class="sans-serif-thin" style="margin-top: 25px; font-size: 20px;">
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-4">
                                <b>Naam:</b>
                            </div>
                            <div class="col-md-8"> @Model.naam</div>
                        </div>

                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-4">
                                <b>Trouwdatum:</b>
                            </div>
                            <div class="col-md-8"> @Model.trouwDatum</div>
                        </div>

                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-4">
                                <b>Telefoon:</b>
                            </div>
                            <div class="col-md-8"> @Model.telefoon</div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-4">
                                <b>E-mail:</b>
                            </div>
                            <div class="col-md-8"> @Model.emailadres</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-top: 150px;">
            <img src="https://i.gyazo.com/71eedcfffbc8dbd970f1e595f0586ac2.jpg" alt="Foto van stel" />
        </div>
    </div>
</div>
