@model IEnumerable<Models.Klant>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Emailadres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefoonnummer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trouwdatum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Emailadres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefoonnummer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trouwdatum)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.KlantID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.KlantID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.KlantID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
