@model Models.Jurk

@{
    ViewData["Title"] = "Delete";
}


<div class="container">

    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Jurk</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ArtikelNr)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ArtikelNr)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Categorie.CategorieNaam)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Categorie.CategorieNaam)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Merk.MerkNaam)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Merk.MerkNaam)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Stijl.StijlNaam)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Stijl.StijlNaam)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Prijs)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Prijs)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Neklijn.NeklijnNaam)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Neklijn.NeklijnNaam)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Silhouette.SilhouetteNaam)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Silhouette.SilhouetteNaam)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.JurkKleuren)
            </dt>
            <dd>
                @foreach (var jurkkleur in Model.JurkKleuren)
                {
                    <a>@jurkkleur.Kleur.KleurNaam, </a>
                }
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Omschrijving)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Omschrijving)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AfbeeldingNaam1)
            </dt>
            <dd>
                <img src="~/images/@Html.DisplayFor(model => model.AfbeeldingNaam1)" alt="Jurk afbeelding1" width="40" height="60" />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AfbeeldingNaam2)
            </dt>
            <dd>
                <img src="~/images/@Html.DisplayFor(model => model.AfbeeldingNaam2)" alt="Jurk afbeelding1" width="40" height="60" />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AfbeeldingNaam3)
            </dt>
            <dd>
                <img src="~/images/@Html.DisplayFor(model => model.AfbeeldingNaam3)" alt="Jurk afbeelding1" width="40" height="60" />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AfbeeldingNaam4)
            </dt>
            <dd>
                <img src="~/images/@Html.DisplayFor(model => model.AfbeeldingNaam4)" alt="Jurk afbeelding1" width="40" height="60" />
            </dd>
        </dl>

        <form asp-action="Delete">
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>
