@model CatalogusFilterModel
@{
    ///List < BruidsJurk > list = (List<BruidsJurk>) Model;
    ViewData["Title"] = "Catalogus Page";
}

<div class="container">
    <script type="text/javascript" src="js/site.js"></script>

    <div class="row" style="margin-top: 20px; border-bottom: 2px solid #e5e5e5;">
    </div>
    <div class="row" style="margin-top: 50px;">
    </div>

    <div class="row">
        <div class="row">
            <!--sorteer functionaliteit-->

            <div class="col-md-3Filter col-md-3">
                <div align="left">
                    <h4 class="nexa_bold" style="text-transform:uppercase; letter-spacing:2px; font-size:19px;"><b>Categoriën:</b></h4>
                    <div class="sans-serif-thin">
                        @foreach (var categorie in ViewBag.CategorieID)
                        {
                            <a asp-controller="Catalogus" asp-action="collection" asp-route-id="@categorie.Text">
                                <div class="quicklinks-box">
                                    <h7>
                                        <b>@categorie.Text</b>
                                    </h7>
                                </div>
                            </a>
                        }
                        <a asp-action="collection" asp-route-id="" style="">
                            <div class="quicklinks-box">
                                <h7>
                                    <b> Alle jurken bekijken</b>
                                </h7>
                            </div>
                        </a>
                    </div>
                    <form asp-controller="CatalogusFilter" asp-action="Index" method="post">
                        <h5 class="titleFilter sans-serif-thin" style="margin-top: 30px; font-weight: bold"><b>Filter op:</b></h5>
                        <div class="panel-group sans-serif-thin" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Merk
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <ul class="filterList">
                                        @for (int i = 0; i < Model.alleMerken.Count; i++)
                                        {
                                            //Pass unchanged fields back to controller post method
                                            @Html.HiddenFor(m => m.alleMerken[i].MerkID)
                                            @Html.HiddenFor(m => m.alleMerken[i].MerkNaam)

                                            <li class="filterListItem">
                                                <div id="Merk_@i" class="checkbox">
                                                    <div class="checkboxDot"></div>
                                                    <label class="filterItemText">@Model.alleMerken[i].MerkNaam</label>
                                                </div>
                                                <input type="hidden" id="inputMerk_@i" name="alleMerken[@i].Status" />
                                            </li>

                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="panel panel-default" style="margin-top: 0px">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Stijl Jurk
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                                    <ul class="filterList">
                                        @for (int i = 0; i < Model.alleStijlen.Count; i++)
                                        {
                                            //Pass unchanged fields back to controller post method
                                            @Html.HiddenFor(m => m.alleStijlen[i].StijlID)
                                            @Html.HiddenFor(m => m.alleStijlen[i].StijlNaam)

                                            <li class="filterListItem">
                                                <div id="Stijl_@i" class="checkbox">
                                                    <div class="checkboxDot"></div>
                                                    <label class="filterItemText">@Model.alleStijlen[i].StijlNaam</label>
                                                </div>
                                                <input type="hidden" id="inputStijl_@i" name="alleStijlen[@i].Status" />
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>

                            <!--- PRIJS -->
                            <div class="panel panel-default" style="margin-top: 0px">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" role="button" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Prijs
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <input id="ex12c" type="text" class="span2" value="" data-slider-min="0" data-slider-max="10000" data-slider-step="5" data-slider-value="[100,9000]" t
                                               name="PrijsRange" />
                                    </div>
                                </div>
                            </div>

                            <!---->
                            <h5 class="titleFilter sans-serif-thin" style="margin-top:20px" font-weight: bold><b>Filters verfijnen:</b></h5>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFour">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" role="button" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            Neklijn
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                    <ul class="filterList">
                                        @for (int i = 0; i < Model.alleNeklijnen.Count; i++)
                                        {
                                            //Pass unchanged fields back to controller post method
                                            @Html.HiddenFor(m => m.alleNeklijnen[i].NeklijnID)
                                            @Html.HiddenFor(m => m.alleNeklijnen[i].NeklijnNaam)

                                            <li class="filterListItem">
                                                <div id="Neklijn_@i" class="checkbox">
                                                    <div class="checkboxDot"></div>
                                                    <label class="filterItemText">@Model.alleNeklijnen[i].NeklijnNaam</label>
                                                </div>
                                                <input type="hidden" id="inputNeklijn_@i" name="alleNeklijnen[@i].Status" />
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="panel panel-default" style="margin-top: 0px">
                                <div class="panel-heading" role="tab" id="headingFive">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" role="button" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                            Silhoutte
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                    <ul class="filterList">
                                        @for (int i = 0; i < Model.alleSilhouetten.Count; i++)
                                        {
                                            //Pass unchanged fields back to controller post method
                                            @Html.HiddenFor(m => m.alleSilhouetten[i].SilhouetteID)
                                            @Html.HiddenFor(m => m.alleSilhouetten[i].SilhouetteNaam)

                                            <li class="filterListItem">
                                                <div id="Silhouette_@i" class="checkbox">
                                                    <div class="checkboxDot"></div>
                                                    <label class="filterItemText">@Model.alleSilhouetten[i].SilhouetteNaam</label>
                                                </div>
                                                <input type="hidden" id="inputSilhouette_@i" name="alleSilhouetten[@i].Status" />
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="panel panel-default" style="margin-top: 0px; border-bottom-width: 1px">
                                <div class="panel-heading" role="tab" id="headingSix">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" role="button" data-toggle="collapse" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                            Kleur
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                                    <ul class="filterList">
                                        @for (int i = 0; i < Model.alleKleuren.Count; i++)
                                        {
                                            //Pass unchanged fields back to controller post method
                                            @Html.HiddenFor(m => m.alleKleuren[i].KleurID)
                                            @Html.HiddenFor(m => m.alleKleuren[i].KleurNaam)

                                            <li class="filterListItem">
                                                <div id="Kleur_@i" class="checkbox">
                                                    <div class="checkboxDot"></div>
                                                    <label class="filterItemText">@Model.alleKleuren[i].KleurNaam</label>
                                                </div>
                                                <input type="hidden" id="inputKleur_@i" name="alleKleuren[@i].Status" />
                                            </li>
                                        }
                                    </ul>

                                    <!-- Kleuren
                    <div class="checkboxColor" style="background:white">
                        <input type="checkbox" value="1" id="checkboxId1" name="" style="opacity:0;" />
                        <label for="checkboxId1">text</label>
                    </div>
                    <div class="checkboxColor" style="background: pink; margin-top:10px">
                        <input type="checkbox" value="2" id="checkboxId2" name="" style="opacity:0" />
                    </div>
                    <div class="checkboxColor" style="background:darkred;margin-top:10px">
                        <input type="checkbox" value="3" id="checkboxId3" name="" style="opacity:0;" />
                    </div>
                        -->

                                </div>
                            </div>
                        </div>
                        <input type="submit" value="Filter" class="btn btn-default specialbutton" />
                    </form>
                </div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-8">

                        <div class="form-group cat-searchbarright nexa_bold">
                            <form asp-controller="Catalogus" asp-action="Collection" method="post">
                                <label>Sorteer op: </label>
                                @Html.HiddenFor(m => m.alleMerken)
                                @Html.HiddenFor(m => m.alleStijlen)
                                @Html.HiddenFor(m => m.alleNeklijnen)
                                @Html.HiddenFor(m => m.alleSilhouetten)
                                @Html.HiddenFor(m => m.alleKleuren)
                                <select asp-for="sorteerOptie" class="Selection" style="width:200px;">
                                    <option>Prijs Hoog/Laag</option>
                                    <option>Prijs Laag/Hoog</option>
                                    <option>Merk A-Z</option>
                                    <option>Merk Z-A</option>
                                </select>
                                <input type="submit" value="Sorteer" class="btn btn-default specialbutton" style="display:inline; margin-top: 0px; margin-left: 10px;" />
                            </form>
                        </div>

                    </div>

                </div>
                <div id="itemContainer" class="nexa_bold cat">
                    @foreach (var item in Model.filteredJurken)
                    {
                        <div>
                            <a asp-action="Details" asp-route-id="@item.JurkID">
                                <img src="~/images/@item.AfbeeldingNaam1" class="dressfinder-pics"><div class="cat-textdescimage"> @item.Merk.MerkNaam</div>
                            </a>
                        </div>
                        /*/
                        if (count == 8)
                        {
                            <div class="dressfinder-pics dressfinderdouble-pic"> <img src="https://i.gyazo.com/fb6c1eb95de82a821e2db9ec11309447.png" /></div>
                        }

                        if (count == 16)
                        {
                            <div class="dressfinder-pics"><img src="https://i.gyazo.com/591a6599b50c11222d52d7c5b60170ea.png" /></div>
                        }
                        count++;
                        */
                    }
                </div>
                <!--Page selection-->
                <div class="row">
                    <div class="paginationBar">
                        <div class="col-md-7">
                            <form class="ItemsPerPageForm nexa_bold">
                                <label>Aantal tonen: </label>
                                <select class="itemsPerPageSelect Selection">
                                    <option>12</option>
                                    <option>24</option>
                                    <option>36</option>
                                </select>
                            </form>
                        </div>
                        <div class="col-md-2">
                            <span class="arrowPrev"></span>
                            <div class="holder nexa_bold" style="margin-left: 15px;"></div>
                            <span class="arrowNext"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <img style="margin-top: 180px;" src="https://i.gyazo.com/1d49f6a56d0b097ebe4a01c4677da0ab.jpg" alt="Foto van vrouw met bruidsjurk" />
            </div>
        </div>
    </div>
</div>

