@model CatalogusFilterModel
@{
    ViewData["Title"] = "Catalogus Page";
}


<<div class="container">
    <script type="text/javascript" src="js/site.js"></script>

    <div class="row" style="margin-top: 20px; border-bottom: 2px solid #e5e5e5;">
    </div>
    <div class="row" style="margin-top: 50px;">
    </div>

    <div class="row">
        <div class="row">

            @Html.Partial("_FilterPartial", Model);

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">@Model.filteredJurken.Count jurken gevonden</div>
                    <div class="col-md-6">
                        
                            <div class="form-group cat-searchbarright nexa_bold">
                                
                                <form asp-controller="CatalogusFilter" asp-action="Index" method="post">
                                    
                                    <!--Pass unchanged fields back to controller post method-->
                                    @for (int i = 0; i < Model.alleMerken.Count; i++)
                                    {
                                        @Html.HiddenFor(m => m.alleMerken[i].MerkID);
                                        @Html.HiddenFor(m => m.alleMerken[i].MerkNaam);
                                        @Html.HiddenFor(m => m.alleMerken[i].Status);
                                    }
                                    @for (int i = 0; i < Model.alleStijlen.Count; i++)
                                    {
                                        @Html.HiddenFor(m => m.alleStijlen[i].StijlID);
                                        @Html.HiddenFor(m => m.alleStijlen[i].StijlNaam);
                                        @Html.HiddenFor(m => m.alleStijlen[i].Status);
                                    }
                                    @for (int i = 0; i < Model.alleNeklijnen.Count; i++)
                                    {
                                        @Html.HiddenFor(m => m.alleNeklijnen[i].NeklijnID)
                                        @Html.HiddenFor(m => m.alleNeklijnen[i].NeklijnNaam)
                                        @Html.HiddenFor(m => m.alleNeklijnen[i].Status)
                                    }
                                    @for (int i = 0; i < Model.alleSilhouetten.Count; i++)
                                    {
                                        @Html.HiddenFor(m => m.alleSilhouetten[i].SilhouetteID)
                                        @Html.HiddenFor(m => m.alleSilhouetten[i].SilhouetteNaam)
                                        @Html.HiddenFor(m => m.alleSilhouetten[i].Status)
                                    }
                                    @for (int i = 0; i < Model.alleKleuren.Count; i++)
                                    {
                                        @Html.HiddenFor(m => m.alleKleuren[i].KleurID)
                                        @Html.HiddenFor(m => m.alleKleuren[i].KleurNaam)
                                        @Html.HiddenFor(m => m.alleKleuren[i].Status)
                                    }
                                    @Html.HiddenFor(m => m.PrijsRange)
                                                                        
                                    <!--Get input for sorteer functie-->
                                    <select asp-for="sorteerOptie">
                                        <option>Prijs Hoog/Laag</option>
                                        <option>Prijs Laag/Hoog</option>
                                        <option>Merk A-Z</option>
                                        <option>Merk Z-A</option>
                                    </select>
                                    <input type="submit" value="Sorteer" class="btn btn-default specialbutton" style="display:inline; margin-top: 0px; margin-left: 10px;" />
                                </form>
                            </div>
                        
                    </div>

                </div>
                <div id="itemContainer" class="nexa_bold cat">
                   
                    @foreach (var item in Model.filteredJurken)
                    {
                        <div>
                            <a asp-controller="Catalogus" asp-action="Details" asp-route-id="@item.JurkID">
                                <img src="~/images/@item.AfbeeldingNaam1" class="dressfinder-pics"><div class="cat-textdescimage"> @item.Merk.MerkNaam</div>
                            </a>
                        </div>
                        /*
                        if (count == 8)
                        {
                            <div class="dressfinder-pics dressfinderdouble-pic"> <img src="https://i.gyazo.com/fb6c1eb95de82a821e2db9ec11309447.png" /></div>
                        }

                        if (count == 16)
                        {
                            <div class="dressfinder-pics"><img src="https://i.gyazo.com/591a6599b50c11222d52d7c5b60170ea.png" /></div>
                        }
                        count++;
                        */
                    }
                    @if (!Model.filteredJurken.Any())
                    {
                        <p>Geen jurken gevonden</p>

                    }
                </div>               
                <!--Page selection-->
                <div class="row">
                    <div class="paginationBar">
                        <div class="col-md-7">
                            <form class="ItemsPerPageForm nexa_bold">
                                <label>Aantal tonen: </label>
                                <select class="itemsPerPageSelect Selection">
                                    <option>12</option>
                                    <option>24</option>
                                    <option>36</option>
                                </select>
                            </form>
                        </div>
                        <div class="col-md-2">
                            <span class="arrowPrev"></span>
                            <div class="holder nexa_bold" style="margin-left: 15px;"></div>
                            <span class="arrowNext"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <img src="https://i.gyazo.com/1d49f6a56d0b097ebe4a01c4677da0ab.jpg" alt="Foto van vrouw met bruidsjurk" />
            </div>
        </div>
    </div>
</div>

